opencv-python==4.11.0.86
diffusers==0.37.0
transformers==5.4.0
tokenizers==0.22.2
accelerate==1.13.0
tqdm==4.67.3
imageio==2.37.0
easydict==1.13
ftfy==6.3.1
imageio-ffmpeg==0.6.0
numpy==2.2.6
omegaconf==2.3.0
einops==0.8.2
av==17.0.0
starlette==0.50.0
pycocotools==2.0.10
lmdb==1.8.1
matplotlib==3.10.8
sentencepiece==0.2.1
pydantic==2.12.5
torchao==0.17.0
spaces==0.47.0
gradio==6.9.0
gradio-client==2.3.0
scikit-build-core==1.0.3
scikit-image==0.25.2
scikit-learn==1.6.1
ninja==1.13.0
cmake==4.4.0
xformers==0.0.32.post2